<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Email address</label>
            <input name="q" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search...">
        </div>
        {{!-- <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> --}}
        <select name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>